@font-face{

}

::-webkit-scrollbar {
    width: 0px;
}

.product .ProdutBrandBnt {
    float: left;
    margin-top:0em;
    margin-bottom:0;
    height:35px;
    padding-bottom:2px;
    border-width:0;
    background-color:white;
    padding-left:0;
}

a:active, /* активна€/посещенна€ ссылка */
a:hover, /* при наведении */
a {
    text-decoration: none;
    color: black;
}

    header {
    background-color: rgb(0, 82, 107);
    padding: 1em;
    margin-bottom:1em;
}

.DeliteInput {
    background: url(../img/Profile/Delete.png) no-repeat center left;
}
    header .container {
        height: 40px;
        padding-right: 1.5%;
    }

    header .Logo,
    header .Logo:active {
        font-family: Nunito;
        letter-spacing: 0.35em;
        color: #e2e2e2;
        font-size: 28px;
        text-decoration: none;
        transition: .5s linear;
        font-weight: 500;
    }

        header .Logo:hover {
            font-family: Nunito;
            letter-spacing: 0.35em;
            color: #ffffff;
            font-size: 28.5px;
            text-decoration: none;
            transition: linear 2s;
        }

header .ico {
    border-radius: 50%;
    width: 40px;
}

    header .ul {
        margin: 0;
        padding: 15px;
    }

    header ul li {
        display: inline;
        margin-right: 5px;
        border: 1px solid #e1e1e1;
        padding: 3px;
    }
/*Register Form*/

.RegistrationWindow {
    margin-top: 9%;
    width: 30%;
    height: 400px;
    margin-left: 34%;
    background-color: rgb(139, 173, 208);
    border-radius: 1em;
}

.RegistrationWindow .RegButton,
.RegistrationWindow .LogInButton {
    width: 80%;
    background-color: #f2f2f2;
    margin-top: 1em;
    margin-left: 20%;
    font-size: 19px;
    height: 40px;
    font-weight: 500;
    border-radius: 5px;
    border-width: 0;
    color: #000000;
    transition: 0.5s linear;
    margin-left: 10%;
}

.RegistrationWindow .RegButton:hover,
.RegistrationWindow .LogInButton:hover {
    color: rgb(231, 231, 231);
    background-color: #766db4;
    transition: 0.5s linear;
}
.RegistrateInput,
.RegistrateInput1 {
    padding-left: 0.5em;
    width: 91%;
    margin-left: 4%;
    height: 2em;
    border-radius: 3px;
    color: #8c8c8c;
    background-color: #f2f2f2;
    margin-top: 1.5em;
    transition: 0.2s;
    border: 0;
    font-size: 18px;
    border-bottom: 0.1em solid rgb(255, 255, 255);
    outline: none;
}

.RegistrateInput1 {
    width: 83%;
    margin-left: 8.5%;
}

    .RegistrationWindow .RegistrateInput::-webkit-input-placeholder,
    .RegistrationWindow .RegistrateInput::-webkit-inner-spin-button {
        color: #8c8c8c;
        -webkit-appearance: none;
    }

    .RegistrationWindow .RegistrateInput:focus {
        color: #393c57;
        border: 0;
        border-color: #fff;
        background-color: #f7f7f7;
        border-bottom: 0.1em solid rgb(46, 46, 46);
    }
/* End Register Form*/

.BurgerMenu {
    position: relative;
    display: inline-block;
}

.BurgerMenuButton {
    background-color: rgb(0, 82, 107);
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    color: #e2e2e2;
    border: none;
    transition: 1 s linear;
    font-weight: 600;
}

.DropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 10em;
    height: auto;
    border-radius: 5px;
}

    .DropdownContent a {
        color: black;
        padding: 0.3em;
        padding-left: 1em;
        font-size: 16px;
        text-decoration: none;
        display: block;
        border-radius: 5px;
        font-weight: 600;
    }

        .DropdownContent a:hover {
            background-color: #ddd;
        }

.BurgerMenu:hover .DropdownContent {
    display: block;
    transition: linear 3s;
}

.BurgerMenuButton:hover {
    color: rgb(255, 255, 255);
    transition: linear .5s;
}

.IcoBurgerMenu {
    height: 100%;
    width: 1em;
    margin-right: 5px;
}

.IcoBurgerMenu1 {
    height: 100%;
    width: 1em;
    margin-right: 8px;
}



.AddProductBut {
    background-color: rgb(65, 141, 182);
    margin-left: 1em;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    color: #000000;
    border: 5px;
    border-color: red;
    transition: 1 s linear;
}

.AddProductLink {
    text-decoration: none;
    color: #ffffff;
    transition: .5s linear;
}

    .AddProductLink:hover {
        text-decoration: none;
        color: #000000;
    }
body {
    background-color: #e6e6e6;
}
/*//////////////////////////////////////////////////////////*/
main {
    height: 100%;
    background-color: #e6e6e6;
}

.menu {
    margin-top: 1em;
}

    .menu .row .col-md-10 {
        padding-right: 0;
    }

    .menu .row .col-md-2 {
        padding-left: 0;
    }

    .menu .row p {
        margin: 0;
    }

    .menu .MenuInput {
        padding-left: 10px;
        display: block;
        width: 100%;
        height: 2.3em;
        border-radius: 5px;
        border-width: 1px;
    }

        .menu .MenuInput::-webkit-outer-spin-button,
        .menu .MenuInput::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

    .menu .Price p,
    .menu .Mileage p,
    .menu .Year p,
    .menu .Transmission p,
    .menu .Fuel p,
    .menu .Color p {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 0.3em;
        padding-bottom: 0.2em;
        font-size: 18px;
        margin: 0;
    }

    .menu .Price .col-md-1,
    .menu .Mileage .col-md-1,
    .menu .Year .col-md-1 {
        margin: 0;
        padding-left: 3px;
        padding-top: 0.3em;
        font-weight: 700;
    }

    .menu .Transmission .custom-select,
    .menu .Fuel .custom-select,
    .menu .Color .custom-select {
        padding-left: 10px;
        width: 100%;
        height: 2.5em;
        border-radius: 5px;
        font-size: 17px;
    }

.EditProfile{
    padding-top:5%;
}
.EditProfile .EditProfileInput {
        width: 70%;
        height: 2em;
        margin-left:4%;
        font-size: 18px;
        border-radius: 3px;
        padding-left: 10px;
        color: #8c8c8c;
        background-color: #f2f2f2;
        margin-top: 1em;
        transition: 0.2s;
        border: 0;
        border-bottom: 0.1em solid #f2f2f2;
        outline: none;
}
    .EditProfile .EditProfileInput:focus {
        transition: 0.2s;
        color: #393c57;
        border: 0;
        border-color: #fff;
        background-color: #ffffff;
        border-bottom: 0.1em solid rgb(46, 46, 46);
    }
    .EditProfile .AddButton {
        margin-top: 1.5em;
        margin-left: 1.2em;
        background-color: #f2f2f2;
        height: 2em;
        width: 70%;
        font-size: 18px;
        border-radius: 5px;
        border-width: 0;
        float: left;
        transition: 1s;
    }
        .EditProfile .AddButton:hover {
            transition: 2s;
            background-color: #bdd7df;
        }
/* ///////////////////////////////////////// */
.product .col-md-4 {
    border-radius: 5px;
    width: 31%;
    margin-left: 1em;
    margin-top: 1em;
    background-color: rgb(255, 255, 255);
}

.product .CarFoto {
    max-width: 100%;
}
.product .imageContainer {
    max-width: 400px;
}

.product .IcoFoto {
    width: 1.5em;
}

.product h5 {
    text-align: center;
    padding-top: 0.5em;
}

.product button {
    float: right;
    margin-bottom: 1em;
}

.product .Title {
    font-size: 26px;
    font-family: Geomanist,Arial,sans-serif;
    padding-top: 0.1em;
    margin: 0;
}

.product .ProductProperty {
    padding-top: 1em;
}

.product .Price {
    padding-top: 10px;
    font-size: 18px;
    font-family: Nunito;
    font-weight: 600;
    float: right;
    padding-right: 1em;
    color: #008337;
}

.product .LikeBtn {

    background-image: url(../img/Product/like.png);
    background-repeat: no-repeat;
    background-size:1.8em;
    border-width: 0;
    background-color: white;
    max-width: 50%;
    height: 2.5em;
    margin-top: 75%;
    margin-left: 65%;
    width:30px;
    display: block;
    padding-top:1.5em;
    color:white;
    
}



.AddProduct .AddProductInput, .ProductOwerview, .ProductOwerview1 {
    width: 30%;
    height: 2em;
    font-size: 18px;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 1em;
    color: #8c8c8c;
    background-color: #f2f2f2;
    margin-top: 2em;
    transition: 0.2s;
    border: 0;
    border-bottom: 0.1em solid #f2f2f2;
    outline: none;
}
.ProductOwerview {
    margin-top:1em ;
}


.UserContact {
    width: 90%;
    background-color: #dedede;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 1em;
    padding-left:2em;
}
.UserContact .UserName {
    font-size: 20px;
    font-weight: 500;
    margin-top:1em;
    margin-bottom:0;
}
.UserContact .OverviewPhoneNumber {
    color: black;
    width: 45%;
    height: 2em;
    font-size: 18px;
    border-radius: 3px;
    color: black;
    background-color: #f2f2f2;
    margin-top: 2.1em;
    border: 0;
    outline: none;
}
    .UserContact .OverviewButtonShowNumber {
        width: 20%;
        color: black;
        height: 2em;
        font-size: 18px;
        border-radius: 3px;
        margin-left: 5px;
        color: black;
        background-color: #f2f2f2;
        margin-top: 2.1em;
        border: 0;
        outline: none;
        transition: 1s;
    }
    .UserContact .OverviewButtonShowNumber:hover {
        transition: 1s;
        color: rgb(231, 231, 231);
        background-color: #766db4;
        transition: 1s;
    }
.ProductOwerview1 {
    margin-top: 0em;
}
    .AddProduct .AddProductInput::-webkit-outer-spin-button,
    .AddProduct .AddProductInput::-webkit-inner-spin-button,
    .ProductOwerview::-webkit-outer-spin-button,
    .ProductOwerview::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

.AddProduct .AddProductInput::-webkit-input-placeholder,
.ProductOwerview::-webkit-input-placeholder {
    color: #8c8c8c;
}

    .AddProduct .AddProductInput:focus{
        color: #393c57;
        border: 0;
        border-color: #fff;
        background-color: #ffffff;
        border-bottom: 0.1em solid rgb(46, 46, 46);
    }

.AddProduct #Price {
    color: #009f10;
}

.AddProduct .NameSelect {
    margin-top: 1em;
    font-size: 18px;
}

    .AddProduct .NameSelect p {
        padding-left: 1em;
        margin-bottom: 5px;
    }

    .AddProduct .NameSelect .Fuel {
        padding-left: 32px;
    }

    .AddProduct .NameSelect .Color {
        padding-left: 2.5em;
    }

.AddProduct .custom-select,
.AddProduct .custom-select,
.AddProduct .custom-select {
    margin-left: 1em;
    margin-top: 0;
    padding-left: 10px;
    width: 25%;
    height: 2em;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 18px;
    border-width: 0;
}

.AddProduct .AddDescriptionP {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 5px;
    font-size: 18px;
}

.AddProduct .AddDescription {
    font-family: Nunito;
    font-size: 18px;
    padding: 0.5em;
    border-bottom: 0.1em solid #f2f2f2;
    border-radius: 15px;
    width: 90%;
    height: 10em;
    margin-left: 1em;
    resize: none;
    border-width: 0;
}

.AddProduct .AddButton {
    margin-top: 1em;
    margin-left: 1em;
    background-color: #f2f2f2;
    height: 2em;
    width: 10em;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0;
    float: left;
}

    .AddProduct .AddButton:hover {
        background-color: #bdd7df;
    }

.OverviewProduct .Name {
    margin-left: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 26px;
    font-family: Arial,sans-serif;
}

.OverviewProduct .Price {
    margin-left: 1em;
    font-size: 22px;
    color: #008337;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial,sans-serif;
}

.OverviewProduct .Property {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Arial,sans-serif;
}

.OverviewProduct .LabelProperty {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Arial,sans-serif;
}

.OverviewProduct .DescriptionP {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 5px;
    font-size: 18px;
}

.OverviewProduct .Description,
.OverviewProduct .Description:hover {
    font-family: Nunito;
    font-size: 18px;
    padding: 0.5em;
    border-bottom: 0.1em solid #f2f2f2;
    border-radius: 15px;
    width: 90%;
    height: 10em;
    margin-left: 1em;
    resize: none;
    border-width: 0;
}

.OverviewProduct .AddButton {
    margin-top: 1em;
    margin-left: 1em;
    background-color: #f2f2f2;
    height: 2em;
    width: 10em;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0;
    float: left;
}
.OverviewProduct .AddButton:hover 
{
    background-color: #bdd7df;
}
/* /////////////////////// */
.Scroll .row {
    padding-top: 1em;
    padding-left: 10%;
}
.Scroll .col-md-1 {
    padding: 0;
    width: 2.5em;
}
.Scroll input {
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    height: 2em;
    width: 2em;
    transition: linear .3s;
}
.Scroll input .active 
{
    background-color: rgb(187, 219, 229);
}
.Scroll input:hover 
{
    background-color: rgb(187, 219, 229);
    transition: linear .3s;
}




/*////////////////////////////////////////////*/
.CategoryBtn2,
.SelectedCategoryBtn2,
.SelectedCategoryBtn,
.CategoryBtn 
{
    width: 100px;
}

.YourAds 
{
    color: #8c8c8c;
    text-decoration: none;
    font-family: Nunito;
    font-size: 18px;
    background-color: #e6e6e6;
    margin: 0;
    padding-top: 0.1em;
}

.CategoryBtn2 {
    border: 0.2em solid #e6e6e6;
    margin-top: 2em;
    background-color: #e6e6e6;
    padding-bottom: 0.5em;
    color: #8c8c8c;
    font-weight: 600;
    transition: linear 0.2s;
}

.CategoryBtn {
    border: 0.2em solid #e6e6e6;
    margin-top: 2em;
    margin-left: 1.5em;
    background-color: #e6e6e6;
    padding-bottom: 0.5em;
    color: #8c8c8c;
    font-weight: 600;
    transition: linear 0.2s;
}

    .CategoryBtn:hover,
    .CategoryBtn2:hover {
        transition: linear 0.5s;
        border-bottom: 0.15em solid rgb(46, 46, 46);
        color: #000000;
    }

.YourAds:hover {
    transition: linear 0.5s;
    color: #000000;
}

.SelectedCategoryBtn {
    border: 0.2em solid #e6e6e6;
    margin-top: 2em;
    margin-left: 1.5em;
    background-color: #e6e6e6;
    padding-bottom: 0.5em;
    color: #8c8c8c;
    font-weight: 600;
    transition: linear 0.2s;
    border-bottom: 0.15em solid rgb(46, 46, 46);
    color: #000000;
}

.SelectedCategoryBtn2 {
    border: 0.2em solid #e6e6e6;
    margin-top: 2em;
    background-color: #e6e6e6;
    padding-bottom: 0.5em;
    color: #8c8c8c;
    font-weight: 600;
    transition: linear 0.2s;
    border-bottom: 0.15em solid rgb(46, 46, 46);
    color: #000000;
}
/* Category END*/







.Profile .col-md-9 {
    border-radius: 5px;
    width: 97.5%;
    margin-left: 1em;
    margin-top: 1em;
    background-color: rgb(255, 255, 255);
}

.Profile .col-md-8 {
    padding-left: 1em;
}

.Profile .CarFoto {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
.CarFotoAds {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    padding-bottom: 1.1em;
}
.Profile .IcoFoto {
    width: 1.5em;
}

.Profile h5 {
    float: left;
    padding-top: 0.5em;
}

.Profile button {
    float: right;
    margin-bottom: 1em;
}

.Profile .OrderSettingsDelite,
.Profile .OrderSettingsEdit {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
    width: 30px;
    height: 55px;
    background-image: url(../img/Profile/Delete.png);
    background-size: 25px;
    background-repeat: no-repeat;
    border-width: 0;
    background-color: white;
    font-size: 14px;
    color: white;
}

.Profile .OrderSettingsEdit {
    background-image: url(../img/Profile/Edit.png);
}

    .DescriptionBLock {
        height: 70%;
        overflow: scroll; /* ќбрезаем все, что не помещаетс€ в область */
        text-overflow: ellipsis; /* ƒобавл€ем многоточие */
    }

.Description {
    height: 5em;
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    text-align: left;
}

.DescriptionBLockNews {
    height: 8.5em;
    font-size: 17px;
    padding-right: 2em;
    overflow: scroll; /* ќбрезаем все, что не помещаетс€ в область */
}

.DescriptionNews {
    height: 5em;
    text-align: left;
}

.ImportFoto {
    background-image: url(../img/Add/AddFoto.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    padding: 100% 5% 5% 5%;
    margin: 0;
}

    .ImportFoto:hover {
        max-width: 100%;
        border-radius: 15px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #dedede;
        padding: 100% 5% 5% 5%;
        margin: 0;
    }

.site-footer {
    background-color: rgb(0, 82, 107);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
    margin-top:2em;
}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

        .site-footer hr.small {
            margin: 20px 0
        }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #cbd8d8;
    }

        .site-footer a:hover {
            color: red;
            text-decoration: none;
        }

.footer-links {
    padding-left: 0;
    list-style: none
}

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #cbd8d8
    }

        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: burlywood;
            text-decoration: none;
        }

    .footer-links.inline li {
        display: inline-block
    }

.site-footer .social-icons {
    text-align: right
}

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

.copyright-text {
    margin: 0px;
    font-size: 18px;
    color: #cbd8d8;
}
.text-justify {
    color: #cbd8d8;
    font-size: 17px;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}
@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
/*////////////////////////////////////////*/