@model HomeViewModel

@Html.Partial("~/Views/Header/Header.cshtml")
<div class="container">
    <form method="get">
    <div class="row">
        @Html.Partial("Menu")
        <div class="col-12  col-md-9">
            <div class="product">
                <div class="row">
                    <div class="ProductBlock">
                        @Html.Partial("Product")
                    </div>
                    
                </div>
                <div class="row">

                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-6">
            <div class="Scroll">
                <div class="row">
                        @if (Model.Pager.TotalPage > 0)
                        {
                                @for (var i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                                {
                                    <div class="col-md-1" >
                                        <input onclick="Listener" name="page" type="submit" value="@i" />
                                    </div>       
                                }
                        }
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

