<footer class="site-footer">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
        <h4>About</h4>
        <p class="text-justify">This project is an internship in a company where I developed an online store on the ASP.net platform. The main task was to create a functional web application that will allow users to view, add, edit and order products via the Internet.</p>
        </div>

        <div class="col-md-4">
        <h4>Contacts</h4>
        <ul class="footer-links">
            <li><a href="https://www.instagram.com/zharkov.artem.988/">Instagram</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100086510018277">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/artem-zharkov-514a621a1">LinkedIn</a></li>
        </ul>
        </div>
    </div>
    <hr>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="copyright-text">Made by Artem Zharkov in 2023</p>
        </div>
    </div>
    </div>
</footer>