<footer class="site-footer">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
        <h4>About</h4>
        <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
        </div>

        <div class="col-md-4">
        <h4>Contacts</h4>
        <ul class="footer-links">
            <li><a href="https://www.instagram.com/zharkov.artem.988/">Instagram</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100086510018277">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/artem-zharkov-514a621a1">LinkedIn</a></li>
        </ul>
        </div>
    </div>
    <hr>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
            </p>
        </div>
    </div>
    </div>
</footer>