

<div class='Category'>                    
    <a asp-controller="Product" asp-action="YourAds" class='YourAds'><button class='CategoryBtn2'>Your Ads</button></a>
    <a  class='YourAds'><button class='CategoryBtn'>The news </button></a> 
    <a  class='YourAds'><button class='CategoryBtn'>Liked</button></a>
    <a  asp-controller="Product" asp-action="Category" class='YourAds'><button class='SelectedCategoryBtn'>Add</button></a>
    <a  class='YourAds'><button class='CategoryBtn'>Smt else</button></a>
</div>
