
@using Domain.Models;
@model Car





<form method="post"> 
    <input asp-for="Brand" type="text" placeholder='Brand' class='AddProductInput'/>
    <input asp-for="Model" type="text" placeholder='Model' class='AddProductInput'/>
    <input class="AddButton" type="submit" value="Publish"/>
</form>





