
@model LoginViewModel


<form method="post" >
    <div class="RegistrationWindow" style="height:290px; margin-top:9%;" >
        <input asp-for="UserName" type="text" placeholder='Login' class='RegistrateInput1' />
        <input asp-for="Password" type="password" placeholder='Password' class='RegistrateInput1'/>
        <div class="row">
            <input type="submit"  class='LogInButton' value='Login' />
           <form method="get" action="../Views/Account/Registration.cshtml">
                  <input type="submit" asp-controller="Account" asp-action="Registration"   class='LogInButton' value='Registration'/>
           </form>
        </div>
    </div>
</form>    




@*Account/Login*@


