<div class="RegistrationWindow">
    <div class="row">
        <input type="submit"  class='LogInButton' value='Login'/>
        <button  type="Button"  class='RegButton' >
            <a asp-controller="Account" asp-action="Registration">Registrate</a>
        </button>
    </div>
</div>
   




@*Account/Login*@


