

<div class='Category'>                    
    <a asp-controller="Product" asp-action="YourAds" class='YourAds'><button class='CategoryBtn2'>Your Ads</button></a>
    <a  class='YourAds'><button class='CategoryBtn'>The news </button></a> 
    <a asp-controller="Product" asp-action="LikedAds"  class='YourAds'><button class='SelectedCategoryBtn'>Liked</button></a>
    <a  asp-controller="Product" asp-action="AddCar" class='YourAds'><button class='CategoryBtn'>Add</button></a>
    <a asp-controller="Account" asp-action="Profile" class='YourAds'><button class='CategoryBtn'>Profile</button></a>

</div>
